@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url("https://use.typekit.net/ddd8vkh.css");

body {
    background-color: #131313;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    color: #F9F7ED;
    margin: 0;
}

h1 {
    color: #F9F7ED;
    font-family: 'sofia-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.3em;
    margin: 0;
}

h2 {
    font-family: 'sofia-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    color: #F9F7ED;
    margin: 0;
}

.header {
    background-color: #131313;
    position: sticky;
    top: 5em;
    z-index: 0;
}

.top {
    background-color: #131313;
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #F9F7ED;
    text-align: center;
    padding: 2em 0 0 5em;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    float: right;

}

.current p {
    color: #87C13F;
}

.logo {
    margin: 0;
}

.logo img {
    float: left;
}

section {
    margin-bottom: 0em;
}

#intro {
    margin: 0 0 10em 0;
}

#intro img {
    width: 100%;
    margin-bottom: 4em;
    margin-top: 2em;
}

#intro h1 {
    font-size: em;
    text-align: right;
}

#intro p{
    font-size: em;
    text-align: right;
}

.content {
    margin: 0;
    padding: 0;
}

.content h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7em;
    color: #F9F7ED;
    line-height: 1em;
}

.info {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto;
    padding: 2.5em 0 0 0;
}


.textbox h1 {
    border-bottom-color: #F9F7ED;
    border-bottom-style: solid;
    border-width: 0.01em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.sort {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.mywork {
    margin-bottom: 5em;
}

.project {
    background-color: #F9F7ED;
    border-radius: 1em;
    padding: 1.2em 0.8em 1.2em 0.8em;
    height: 6em;
}

.connect {
    margin: 2em 0 3em 0;
}


.email {
    margin-bottom: 3em;
}

button {
    background-color: #F9F7ED;
    border-radius: 5em;
    padding: 1em 1em 1em 1em;
}

button p {
    font-size: 1.5em;
    color: #131313;
}


.copyright p {
    font-size: 0.7em;
    text-align: center;
    padding: 2em 0 1.3em 0;
}

@media screen and (max-width: 1500px) {

    body {
        padding-left: 7%;
        padding-right: 7%;
        margin: 0;
    }

    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2.3em;
    }

    .header {
        margin-bottom: 4em;
        top: 4em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 5%;
    }

    #intro {
        height: 100%;
        margin-bottom: 0em;
    }

    .start {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
    }

    #intro img {
        width: 100%;
    }

    .photo {
        float: left;
        width: 90%;    
    }

    .name {
        margin-bottom: auto;
        margin-top: auto;
        display: block;
    }

    .name h1 {
        font-size: 7em;
    }
    
    .name p{
        font-size: 3.5em;
    }

    #about {
        height: 100%;
        margin-bottom: 0em;
    }

    .biobox {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        margin-bottom: 2em;
        margin-top: 0em;
    }

    .bio img {
        width: 70%;
        margin: -3em auto auto auto;
        display: block;
    }

    .bio h2 {
        font-size: 8em;
        padding: 0 0 0.2em 0;
    }

    .info {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto auto auto;
        margin-bottom: 2em;
        margin-top: 0.5em;
    }

    .textbox h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;
    }

    #work {
        height: 100%;
        margin-bottom: 0em;
    }

    .project {
        height: 15em;
    }

    .sort {
        display: grid;
        grid-gap: 5em;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        margin: 2em 0 2em 0;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto auto;
    }

    #contact {
        margin-bottom: 15em;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .email h2 {
        margin-bottom: 1em;
    }

    .email p {
        text-align: center;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 1em 1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button p {
        font-size: 1.5em;
    }

    .social h2 {
        margin-bottom: 1em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 1em 0 1.3em 0;
    }
}

@media screen and (max-width: 1439px) {

    body {
        padding-left: 7%;
        padding-right: 7%;
        margin: 0;
    }

    /* .header {
        bottom: 0;
        writing-mode: tb-rl;
        writing-mode: vertical-rl;
        margin: -11%;
    }
    */
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 5%;
    }

    #intro {
        height: 100%;
        margin-bottom: 0em;
    }


    #intro img {
        width: 100%;
    }

    .photo {
        float: left;
        width: 90%;    
    }

    .name h1 {
        font-size: 7em;
    }
    
    .name p{
        font-size: 3.5em;
    }

    #about {
        margin-bottom: 20em;
    }

    .biobox {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        margin-bottom: 2em;
        margin-top: 0em;
    }

    .bio img {
        width: 90%;
        margin: auto;
        display: block;
    }

    .bio h2 {
        font-size: 8em;
        padding: 0 0 0.2em 0;
    }

    .info {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 30% auto auto;
        margin-bottom: 2em;
        margin-top: 0.5em;
    }

    .textbox h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;
    }

    .project {
        height: 15em;
    }

    .sort {
        display: grid;
        grid-gap: 5em;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        margin: 2em 0 2em 0;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto auto;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .email h2 {
        margin-bottom: 1em;
    }

    .email p {
        text-align: center;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 1em 1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button p {
        font-size: 1.5em;
    }

    .social h2 {
        margin-bottom: 1em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 1em 0 1.3em 0;
    }
}

@media screen and (max-width: 1024px) {

    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 2.7em;
    }
    
    h2 {
        font-size: 2.3em;
    }

    .header {
        top: 4.5em;
        writing-mode: horizontal-tb;
        margin: 0;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 7%;
    }

    .photo {
        float: left;
        width: 100%
    }

    #intro img {
        width: 50%;
        margin-bottom: 3em;
        margin-top: 5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #intro h1 {
        font-size: 4.7em;
    }
    
    #intro p{
        font-size: 2.3em;
    }

    .bio h2 {
        font-size: 8em;
        padding: 0 0 0.2em 0;
    }

    .info {
        display: grid;
        grid-gap: 2.5em;
        grid-template-columns: auto auto auto;
        margin-bottom: 2em;
        margin-top: 0.5em;
    }

    .textbox h1 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .project {
        height: 9em;
    }

    .sort {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto auto auto auto;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .email h2 {
        margin-bottom: 1em;
    }

    .email p {
        text-align: center;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 1em 1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button p {
        font-size: 1.5em;
    }

    .social h2 {
        margin-bottom: 1em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 1em 0 1.3em 0;
    }
}

@media screen and (max-width: 800px) {
    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2.3em;
    }

    .header {
        top: 4em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .navbar {
        display: none;
    }

    .logo img {
        width: 10%;
    }

    #intro {
        height: 100%;
        margin-bottom: 0em;
    }

    .start {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
    }

    #intro img {
        width: 100%;
        margin-bottom: 3em;
        margin-top: 6em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #intro h1 {
        font-size: 4em;
    }
    
    #intro p{
        font-size: 2.2em;
    }

    #about {
        height: 70em;
        margin-bottom: 0em;
    }

    .biobox {
        display: grid;
        grid-gap: 0em;
        grid-template-columns: auto auto;
        margin-bottom: 3em;
        margin-top: 5em;
    }

    .bio img {
        width: 100%;
        margin: 1em 2em 0em 0em;
        display: block;
    }

    .bio h2 {
        font-size: 8em;
        padding: 0 0 0.2em 0;
    }

    .info {
        display: grid;
        grid-gap: 5em;
        grid-template-columns: auto;
        margin-bottom: 0em;
        margin-top: 0em;
    }

    #work {
        margin-bottom: 15em;
    }

    .project {
        height: 9em;
    }

    .design p{
        font-size: 1em;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto;
    }

    #contact {
        margin-bottom: 3em;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .email h2 {
        margin-bottom: 1em;
    }

    .email p {
        text-align: center;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 1em 1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button p {
        font-size: 1.5em;
    }

    .social h2 {
        margin-bottom: 1em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 2.7em;
    }
    
    h2 {
        font-size: 2.3em;
    }

    .header {
        top: 3.5em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .navbar {
        display: none;
    }

    .logo img {
        width: 10%;
    }

    .start {
        grid-template-columns: auto;
    }

    #intro img {
        width: 55%;
        margin-bottom: 3em;
        margin-top: 4em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #intro h1 {
        font-size: 3em;
    }
    
    #intro p{
        font-size: 1.5em;
    }

    .bio img {
        width: 100%;
        margin: 2em auto 3em auto;
        display: block;
    }

    .project {
        height: 9em;
    }

    .design p{
        font-size: 1em;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto;
    }

    #contact {
        margin-bottom: 4em;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .email h2 {
        margin-bottom: 1em;
    }

    .email p {
        text-align: center;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 1em 1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button p {
        font-size: 1.5em;
    }

    .social h2 {
        margin-bottom: 1em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 1em 0 1.3em 0;
    }
}

@media screen and (max-width: 550px) {
    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 2.1em;
    }

    .header {
        top: 3em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 10%;
    }

    .photo {
        display: block;  
    }

    #intro img {
        width: 65%;
        margin-bottom: 3em;
        margin-top: 4em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .name {
        display: block;
    }

    #intro h1 {
        font-size: 2.7em;
    }
    
    #intro p{
        font-size: 1.4em;
    }

    .biobox {
        display: grid;
        grid-gap: 0em;
        grid-template-columns: auto;
        margin-bottom: 3em;
        margin-top: 0em;
    }

    .bio img {
        width: 80%;
    }

    .item {
        width: 100%;
    }

    .info {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto;
        margin-bottom: 2em;
        margin-top: 0em;
    }

    .project {
        height: 6em;
    }

    #contact {
        margin-bottom: 4em;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .email h2 {
        margin-bottom: 1em;
    }

    .email p {
        text-align: center;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 1em 1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button p {
        font-size: 1.5em;
    }

    .social h2 {
        margin-bottom: 1em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 3em 0 1.3em 0;
    }
}

@media screen and (max-width: 478px) {
    p {
        font-size: 1.2em;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 2em;
    }

    .header {
        top: 3.4em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 13%;
    }

    #intro {
        margin-bottom: 0em;
    }

    #intro img {
        width: 70%;
        margin-bottom: 3em;
        margin-top: 4em;
    }

    #intro h1 {
        font-size: 2.7em;
    }
    
    #intro p{
        font-size: 1.4em;
    }

    #about {
        height: 90em;
        margin-bottom: 0em;
    }

    .bio img {
        width: 80%;
    }

    .info {
        display: grid;
        grid-gap: 4em;
        grid-template-columns: auto;
        margin-bottom: 0em;
        margin-top: 0em;
    }

    .textbox h1 {
        font-size: 1.3em;
        margin-bottom: 0.7em;
        padding-bottom: 0.5em;
    }

    #work {
        margin-bottom: 0em;
    }

    .sort {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto auto;
        margin: 2em 0 2em 0;
    }

    .design {
        margin-bottom: 0em;
    }

    .design p {
        font-size: 1.2em;
    }

    .project {
        height: 6em;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto;
    }

    #contact {
        margin-bottom: 5em;
    }

    .connect {
        margin-top: 10em;
    }

    .connect h2 {
        font-size: 2em;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .email h2 {
        margin-bottom: 1em;
    }

    .email p {
        text-align: center;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 0.8em 1em 0.8em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }

    button p {
        font-size: 1.5em;
    }

    .social h2 {
        margin-bottom: 1em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 3em 0 1.3em 0;
    }
}

@media screen and (max-width: 399px) {

    .header {
        top: 3em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 13%;
    }

    #intro img {
        width: 75%;
        margin-bottom: 3em;
        margin-top: 3.5em;
    }

    #intro h1 {
        font-size: 2.6em;
    }
    
    #intro p{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 374px) {

    .header {
        top: 2.8em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 13%;
    }

    #intro {
        margin: 0 0 10em 0;
    }

    #intro h1 {
        font-size: 2.5em;
    }
    
    #intro p{
        font-size: 1.3em;
    }
}


