@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url("https://use.typekit.net/ddd8vkh.css");

:root {
    --font-color: #F9F7ED;
    --bg-color: #131313;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.dark-mode {
    --font-color: #131313;
    --bg-color: #F9F7ED;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    margin: 0;
}

h1 {
    font-family: 'sofia-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.3em;
    margin: 0;
}

h2 {
    font-family: 'sofia-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    margin: 0;
}

.header h1 {
    border-bottom-style: solid;
    border-width: 0.05em;
}

.top {
    background-color: var(--bg-color);
    position: sticky;
    padding: 0.5em 0 0 0;
    top: 0;
    z-index: 2;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: var(--font-color);
    text-align: center;
    padding: 2em 0 2em 0;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

li a:hover,
.menu-btn:hover {
  color: #87C13F;
}

.logo {
    margin: 0;
    
}

.logo img {
    float: left;
}

#switch {
    float: right;
}

.menu {
    background-color: var(--bg-color);
    display: none;
}

.menu-icon {
    float: right;
    padding: 1em 0 0 0;
}

.menu-icon  .navicon {
  background-color: var(--font-color);
  display: block;
  height: 0.2em;
  position: relative;
  transition: background .2s ease-out;
  width: 1em;
}

.menu-icon  .navicon:before,
.menu-icon  .navicon:after {
  background: var(--font-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navicon:before {
  top: 7px;
}

.navicon:after {
  top: -7px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


.current p {
    color: #87C13F;
}

.start {
    display: grid;
    grid-gap: 2em;
}

#intro {
    margin: 0 0 10em 0;
}

#intro img {
    width: 100%;
    margin-bottom: 4em;
    margin-top: 2em;
}

#intro h1 {
    font-size: 2em;
    text-align: right;
}

#intro p{
    font-size: em;
    text-align: right;
}

.content {
    margin: 0;
    padding: 0;
}

.info {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto;
    padding: 2.5em 0 0 0;
}


.textbox h1 {
    border-bottom-style: solid;
    border-width: 0.05em;
}

.sort {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.mywork {
    margin-bottom: 5em;
}

.project {
    background-color: #F9F7ED;
    border-radius: 1em;
    padding: 1.2em 0.8em 1.2em 0.8em;
    height: 6em;
}

.connect {
    margin: 2em 0 3em 0;
}

.email {
    margin-bottom: 3em;
}

.copyright p {
    font-size: 0.7em;
    text-align: center;
    padding: 2em 0 1.3em 0;
}


@media screen and (max-width: 1500px) {

    body {
        padding-left: 7%;
        padding-right: 7%;
        margin: 0;
    }

    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2.3em;
    }

    .header {
        margin-bottom: 0em;
        top: 4em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
        background-color: #131313;
    }

    .logo img {
        width: 5%;
    }

    #intro {
        height: 100%;
        margin-bottom: 0em;
    }

    .start {
        display: inline-block;
        grid-template-columns: auto auto;
    }

    .top li {
        float: left;
    }
      
    .top li a {
        padding: 20px 30px;
    }
      
    .top .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    #intro img {
        width: 100%;
    }

    .photo {
        float: left;
        width: 90%;    
    }

    .name {
        float: right;
        display: block;
        margin: 12em 0 0 0;
    }

    .name h1 {
        font-size: 7em;
    }
    
    .name p{
        font-size: 3.5em;
    }

    #about {
        height: 85em;
        margin-bottom: 0em;
    }

    .biobox {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        margin-bottom: 7em;
        margin-top: 7em;
    }

    .bio img {
        width: 70%;
        margin: -3em auto auto auto;
        display: block;
    }

    .info {
        display: grid;
        grid-gap: 5em;
        grid-template-columns: auto auto;
        margin-bottom: 2em;
        margin-top: 0.5em;
    }

    .textbox h1 {
        margin-bottom: 0.5em;
    }

    #work {
        height: 60em;
        margin-bottom: 0em;
    }

    .project {
        height: 15em;
    }

    .sort {
        display: grid;
        grid-gap: 5em;
        grid-template-columns: auto auto auto auto ;
        justify-content: center;
        margin: 5em 0 3em 0;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto auto;
    }

    #contact {
        margin-bottom: 15em;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: left;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 1em 0 1.3em 0;
    }
}

@media screen and (max-width: 1441px) {

    body {
        padding-left: 7%;
        padding-right: 7%;
        margin: 0;
    }

    /* .header {
        bottom: 0;
        writing-mode: tb-rl;
        writing-mode: vertical-rl;
        margin: -11%;
    }
    */
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 5%;
    }

    #intro {
        height: 100%;
        margin-bottom: 0em;
    }


    #intro img {
        width: 100%;
    }

    .photo {
        float: left;
        width: 90%;    
    }

    .name h1 {
        font-size: 7em;
    }
    
    .name p{
        font-size: 3.5em;
    }

    #about {
        height: 80em;
        margin-bottom: 0em;
    }

    .biobox {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        margin-bottom: 5em;
        margin-top: 5em;
    }

    .bio img {
        width: 90%;
        margin: auto;
        display: block;
    }

    .info {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 30% auto auto;
        margin-bottom: 2em;
        margin-top: 0.5em;
    }

    .textbox h1 {
        margin-bottom: 0.5em;
    }

    .project {
        height: 15em;
    }

    .sort {
        display: grid;
        grid-gap: 5em;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        margin: 2em 0 2em 0;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto auto;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 1em 0 1.3em 0;
    }

    .link img {
        width: 10%;
    }
}

@media screen and (max-width: 1440px) {

    body {
        padding-left: 5%;
        padding-right: 5%;
    }

    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 2.7em;
    }
    
    h2 {
        font-size: 2em;
    }

    .header {
        top: 4.5em;
        writing-mode: horizontal-tb;
        margin: 0;
    }
    
    .top {
        padding: 0.5em 0 0 0;
        background-color: #131313;
    }

    .menu-icon {
        display: none;
    }

    .logo img {
        width: 5%;
    }

    .photo {
        float: left;
        width: 45%;
        left: 0;
    }

    #intro img {
        width: 100%;
        margin-bottom: 3em;
        margin-top: 3em;
        display: block;
    }

    #toggle {
        width: 3%;
        margin: 0.5em 1.5em 0 1em;
        float: left;
    }


    #intro h1 {
        font-size: 4.7em;
    }
    
    #intro p{
        font-size: 2.3em;
    }

    .info {
        display: grid;
        grid-gap: 3em;
        grid-template-columns: auto auto;
        margin-bottom: 5em;
        margin-top: 0em;
    }

    .textbox h1 {
        margin-bottom: 0.5em;
    }

    .project {
        height: 9em;
    }

    .sort {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto auto auto auto;
        margin: 4em 0 4em 0;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto auto;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 1em 0 1.3em 0;
    }
}

@media screen and (max-width: 800px) {
    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .header {
        top: 4em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
        background-color: transparent;
    }

    .top li {
        float: none;
    }

    .menu-icon {
        display: block;
    }

    .menu {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        padding: 30% 0 50% 0 ;
        position: fixed;
        display: none;
        z-index: -1;
    }

    .logo img {
        width: 8%;
    }

    #toggle {
        float: right;
        width: 5%;
        margin: 0.2em 1em 0 0;
    }

    #intro {
        height: 100%;
        margin-bottom: 0em;
    }

    .start {
        grid-template-columns: auto;
        display: block;
    }

    .photo {
        float: 0;
        width: 100%;
        left: 0;
        right: 0;
    }

    .name {
        margin: 0 0 0 0;
    }

    #intro img {
        width: 50%;
        margin-bottom: 3em;
        margin-top: 6em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    

    #intro h1 {
        font-size: 4em;
    }
    
    #intro p{
        font-size: 2.2em;
    }

    #about {
        height: 90em;
        margin-bottom: 0em;
    }

    .biobox {
        display: grid;
        grid-gap: 0em;
        grid-template-columns: auto auto;
        margin-bottom: 3em;
        margin-top: 5em;
    }

    .bio img {
        width: 100%;
        margin: 1em 2em 0em 0em;
        display: block;
    }

    .bio h2 {
        font-size: 8em;
        padding: 0 0 0.2em 0;
    }

    .info {
        display: grid;
        grid-gap: 5em;
        grid-template-columns: auto;
        margin-bottom: 0em;
        margin-top: 0em;
    }

    .textbox h2 {
        margin-bottom: 0.5em;
    }

    .textbox p {
        margin-bottom: 0.5em;
    }

    #work {
        height: 80em;
    }

    .project {
        height: 9em;
    }

    .design p{
        font-size: 1em;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto auto;
    }

    #contact {
        margin-bottom: 3em;
    }

    .connect {
        margin: 4em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .resume {
        margin: 0 0 1em 0;
    }


    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: left;
    }

    .link img {
        width: 20%;
    }
}

@media screen and (max-width: 650px) {
    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .header {
        top: 3.5em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .navbar {
        display: none;
    }

    .logo img {
        width: 10%;
    }

    #toggle {
        width: 6%;
        margin: 0.2em 1em 0 0;
    }

    .start {
        grid-template-columns: auto;
        display: block;
    }

    #intro img {
        width: 55%;
        margin-bottom: 3em;
        margin-top: 4em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #intro h1 {
        font-size: 3em;
    }
    
    #intro p{
        font-size: 1.5em;
    }

    .bio img {
        width: 100%;
        margin: 0em auto 4em auto;
        display: block;
    }

    .project {
        height: 15em;
    }

    .design p{
        font-size: 1.2em;
        text-align: center;
    }

    .sort {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto auto;
        margin: 4em 0 4em 0;
        justify-content: center;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto;
    }

    #contact {
        margin-bottom: 4em;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 1em 1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button p {
        font-size: 1.5em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 1em 0 1.3em 0;
    }
}
/*
@media screen and (max-width: 550px) {
    p {
        font-size: 1.3em;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .header {
        top: 3em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
    }

    .logo img {
        width: 10%;
    }

    #toggle {
        width: 6%;
        margin: 0.2em 1em 0 0;
    }

    .photo {
        display: block;  
    }

    #intro img {
        width: 70%;
        margin-bottom: 3em;
        margin-top: 4em;
    }

    .name {
        float: right;
    }

    #intro h1 {
        font-size: 2.7em;
    }
    
    #intro p{
        font-size: 1.4em;
    }

    .biobox {
        display: grid;
        grid-gap: 0em;
        grid-template-columns: auto;
        margin-bottom: 5em;
        margin-top: 5em;
    }

    .bio img {
        width: 80%;
        padding-bottom: 5em;
    }

    .item {
        width: 100%;
    }

    .info {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto;
        margin-bottom: 2em;
        margin-top: 0em;
    }

    .project {
        height: 6em;
    }

    #contact {
        margin-bottom: 0em;
    }

    .connect {
        margin: 0.5em 0 2em 0;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .resume {
        margin: 0 0 1em 0;
    }

    button {
        padding: 1em 1em 1em 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button p {
        font-size: 1.5em;
    }

    .social h2 {
        margin-bottom: 1em;
    }

    .follow {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 3em 0 1.3em 0;
    }
}
*/

@media screen and (max-width: 550px) {
    p {
        font-size: 1.2em;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .header h1{
        padding-bottom: 0.5em;
    }
    
    .top {
        padding: 0.5em 0 0 0;
        position: -webkit-sticky;
    }

    .logo img {
        width: 10%;
    }

    #toggle {
        width: 7%;
        margin: 0.2em 1em 0 0;
    }

    #intro {
        margin-bottom: 0em;
    }

    #intro img {
        width: 70%;
        margin-bottom: 3em;
        margin-top: 4em;
    }

    #intro h1 {
        font-size: 2.7em;
    }
    
    #intro p{
        font-size: 1.4em;
    }

    #about {
        height: 120em;
        padding-top: 5em;
        margin-bottom: 7em;
    }

    .biobox {
        display: grid;
        grid-gap: 0em;
        grid-template-columns: auto;
        margin-bottom: 5em;
        margin-top: 5em;
    }

    .bio img {
        width: 80%;
    }

    .info {
        display: grid;
        grid-gap: 10em;
        grid-template-columns: auto;
        margin-bottom: 0em;
        margin-top: 0em;
    }

    .textbox h1 {
        font-size: 2em;
        margin-bottom: 1em;
        padding-bottom: 0.5em;
    }

    .textbox h2 {
        margin-bottom: 0.5em;
    }

    .textbox p{
        margin-bottom: 0.5em;
    }

    #work {
        height: 190em;
        margin-bottom: 0em;
        padding-top: 5em;
    }

    .sort {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto auto;
        margin: 4em 0 4em 0;
        justify-content: center;
    }

    .design {
        margin-bottom: 0em;
    }

    .design p {
        font-size: 1.2em;
        text-align: center;
    }

    .project {
        height: 15em;
    }

    .mywork {
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: auto;
    }

    #contact {
        height: 35em;
        margin-bottom: 0em;
    }

    .connect {
        margin-top: 5em;
    }

    .connect h2 {
        font-size: 2em;
    }

    .connect p {
        font-size: 1.5em;
        padding: 0.5em 0 0 0;
    }

    .email {
        margin-bottom: 2em;
    }

    .follow {
        display: grid;
        grid-gap: 0em;
        grid-template-columns: auto auto;
        justify-content: left;
    }

    .link img {
        width: 30%;
    }

    .copyright p {
        font-size: 0.8em;
        padding: 0em 0 1.3em 0;
    }
}

@media screen and (max-width: 399px) {

    .header {
        top: 3em;
    }

    .logo img {
        width: 10%;
    }

    #about {
        height: 120em;
    }

    #toggle {
        width: 7%;
        margin: 0.3em 1em 0 0;
    }

    #intro img {
        width: 75%;
        margin-bottom: 3em;
        margin-top: 3.5em;
    }

    #intro h1 {
        font-size: 2.6em;
    }
    
    #intro p{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 374px) {

    .header {
        top: 2.8em;
    }

    .logo img {
        width: 11%;
    }

    #toggle {
        width: 8%;
        margin: 0.3em 1em 0 0;
    }

    #intro {
        margin: 0 0 10em 0;
    }

    #intro h1 {
        font-size: 2.3em;
    }
    
    #intro p{
        font-size: 1.3em;
    }
}