h3 {
    margin: 0 0 0.5em 0;
}

main {
   
    padding-bottom: 3em;   
}

.cont {
    display: grid;
    grid-gap: 2.5em;
    grid-template-columns: auto auto;
}

.description h1 {
    font-size: 3em;
    margin: 0 0 0.3em 0;
}

#alw h1{
    font-size: 2.5em;
}

#bwnn h1 {
    font-size: 3em;
}


.description a {
    color: #87C13F;
    text-decoration: underline;
}

.assets h2 {
    margin: 1em 0 0.5em 0;
}

.assets img {
    margin: 0 0 1.5em 0;
}


@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-gap: 2em;
    }

    .description {
        position: fixed;
        margin: 0 52% 0 0;
    }

    .assets {
        margin: 0em 0 0 50%;
    }

    .assets h2 {
        margin: 0em 0 0.5em 0;
    }

    video {
        width: 100%;
    }

    img {
        width: 100%;
    }
}


@media screen and (min-width: 320px) {
    video {
        width: 100%;
    }
    img {
        width: 100%;
    }
}