h2 {
    margin: 0 0 0.25em 0;
}

h3 {
    margin: 0 0 0.25em 0;
}

p {
    padding-bottom: 1em;
}

.large {
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.5em;
    padding-bottom: 1em;
}

main {
    padding-bottom: 3em;   
}

.project-grid-2 {
    display: grid;
    grid-gap: 2em; 
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    margin: 0;
}

.project-grid-3 {
    display: grid;
    grid-gap: 2em; 
    grid-template-columns: 1fr 1fr 1fr;
    
    margin-top: 0.5em;
}

.grid-4 {
    display: grid;
    grid-gap: 2em; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

.project-grid-1-2 {
    display: grid;
    grid-gap: 2em; 
    grid-template-columns: 1.2fr 2fr;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    margin: 0;
}

.project-grid-2-1 {
    display: grid;
    grid-gap: 2em; 
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
    margin: 0;
}


.banner {
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 3em auto;
    border-radius: 20px;
    max-width: 1080px;
}

.banner img{
    object-fit: contain;
    width: 80% !important;
    display: block;
    margin: auto;
}

.banner video {
    width: 80% !important;
    display: block;
    margin: auto;
}

.assets video {
    width: 100% !important;
}

iframe {
    object-fit: contain;
    width: 80% !important;
    display: block;
    margin: auto;
}

.job {
    display: grid;
    grid-gap: 4em;
    grid-template-columns: 1.4fr 1fr;
}

.tag p {
    padding: 0;
}

.description h1 {
    border-bottom-style: solid;
    border-width: 0.03em;
    margin-bottom: 1em;
}

.description {
    border-bottom-style: solid;
    border-width: 0.03em;
    padding-bottom: 2em;
    margin-bottom: 3em;
    margin-top: 2em;
}


#process {
    text-align: left;
}

.center {
    text-align: center;
    max-width: 1080px;
    margin: auto;
    left: 0;
    right: 0;
}

.center p {
    max-width: 750px;
    margin: auto;
    left: 0;
    right: 0;
}

.cont {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}

.assets {
    max-width: 1080px;
    margin: auto;
    left: 0;
    right: 0;
}

#spacer {        
    margin-bottom: 5em;
}

.assets .item {        
    margin: auto;
}

.assets h2 {
    margin: 1em 0 0.5em 0;
}


.project-grid-2 .item {
    margin: initial;
}

#alw h1{
    font-size: 2.5em;
}


.description a {
    color: #1670CB;
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .banner{
        margin-bottom: 2em;
    }

    .banner img{
        width: 100% !important;
    }

    .job {
        grid-gap: 1em;
        grid-template-columns: 1fr;
    }

    .assets {        
    margin: 0;
    }

    .description .project-grid-3 {
        display: grid;
        grid-gap: 0em; 
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }


    .project-grid-2 {
        grid-gap: 2em; 
        grid-template-columns: 1fr;
    }

    .project-grid-3 {
        display: grid;
        grid-gap: 1em; 
        grid-template-columns: 1fr;
    }

    .grid-4 {
        display: grid;
        grid-gap: 2em; 
        grid-template-columns: 1fr 1fr;
    }

    .project-grid-1-2 {
        grid-gap: 2em; 
        grid-template-columns: 1fr;
    }

    .project-grid-2-1 {
        grid-gap: 2em; 
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        grid-gap: 2em;
    }

    .assets h2 {
        margin: 0em 0 0.5em 0;
    }

    img {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    #spacer {        
        margin-bottom: 2em;
    }

    .banner video {
        width: 100%;
    }
    img {
        width: 100%;
    }
}